<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TextUtils | Home</title>
    <link rel="icon" type="image/x-icon" href="https://raw.githubusercontent.com/Raahim2/Django-TextUtils/main/txtlogo.png">
</head>


<style>
  
  @import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap');


    *{
        margin: 0;
        padding: 0;
        font-family: 'ADLaM Display', serif;
        color: white;
        background-color: #5c5c5c;
        }
    
        nav{
          background-color: #212529 ;
        }
    ul{
        list-style: none;
        display: inline-flex;
        background-color: #212529 ;

    }
   
    li{
        font-size: 2rem;
        margin-left: 50px;
        margin: 20px;
        background-color: #212529 ;

    }
    .font{
        font-size: 3rem;
    }
    .float{
        float: right;
    }
    #h{
      color: #11859a;
    }
    #login{
      font-size: 2rem;  
      float: right;
      margin: 20px;
      background-color: #212529 ;
     
      }
      .my{
        margin-top: 30px;
      }
      .main{
        width: 80vw;
        margin: auto;
      }
      .center{
        text-align: center;

      }
      .textbox{
        width: 80vw;
        height: 30vh;
        font-size: 2rem;
      }
      .heading{
        font-size: 2.5rem;
      }
      button{
        margin: 5px;
        padding: 5px;
        width: 15%;
        font-size: 2.3rem;
        border: 3px solid white;

      }
      .font2{
        font-size: 1.7rem;
      }
      #output{
        background-color: #3a3b3c;;
        color: white;
      }
      textarea{
        background-color: #3a3b3c;
        border: 3px solid white;
      }
      a{
        text-decoration: none;
        background-color: #212529 ;

      }


</style>
<body>
    <nav>
      
        <p class="my" id="login">Login</p> 
        <ul>
            <li class="font" id="h">TextUtils</li>  
            <li class="my">Home</li> 
            <li class="my">About</li> 
            <li class="my">Admin Login</li> 
        </ul>
    </nav>

    <div class="main">
        <h1 class="center heading" >Welcome to Express TextUtils</h1>
        
        <form action="/" method="post">
            <p class="font2"> <b> Enter Your Text Here :</b> </p>
            <textarea name="text" class="textbox" cols="30" rows="10" ></textarea>

            <button value="up" name="btn" type="submit">UpperCase</button>
            <button value="low" name="btn">LowerCase</button>
            <button value="cpt" name="btn">Capitalize</button>
            <button value="rev" name="btn">Reverse</button>
            <button value="inv" name="btn">Invert Case</button>
            <button value="cnt" name="btn">Count</button>

    
            <p class="font2"> <b>Output  :</b> </p>
            <textarea id="output" name="output" class="textbox" cols="30" rows="10" disabled > <%= output %> </textarea>

          
        
        </form>


    </div>
</body>
</html>